
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

header{
    width: 100%;
    max-width: 100%;
    height: 1032px;
    position: relative;
    background: linear-gradient(
        to right,
        #eff2f6 0%,
        #eff2f6 62%,
        #ff343d 38%,
        #ff343d 100%
    );
    
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.imgcont{
    background-color: #ffffff;
    position: relative;
    z-index: 9999;
    width: 652px;
    height: 652px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15%;
}
.imgcont img{
    object-fit: contain;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
    z-index: 999;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(171, 171, 171);
    background-clip: none !important;
    border: 0;
    border-top: none !important;
    border-bottom: none !important;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 50%;
    display: block;
}
.carousel-captiondron{
    padding-left: 200px;
}

.carousel-captiondron h5{
    font-size: 60px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
}
.carousel-captiondron p{
    width: 400px;
    color: #92a1a5;
    font-weight: 400;
    font-family: "Montserrat";
}
.carousel{
    padding-top: 200px;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 25px;
    height: 12px;
    vertical-align: middle;
    background-image: url(../images/Menu.svg);
    color: #eff2f6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    outline: none;
}
.navbar {
    padding-top: 45px !important;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
    --bs-navbar-toggler-border-color: none !important;
    --bs-navbar-toggler-border-radius: none !important;
    --bs-navbar-toggler-focus-width: none !important;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
    position: absolute;
}
.logo{
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
}
.logo-cir{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 4px solid #ff343d;
    position: absolute;
    left: 194px;
    top: 46px;
}
.call{
    display: flex;  
}
.call-icon{
    padding-left: 60px;
    padding-top: 5px;
}
.number{
    padding-top: 3px;
}
.number a{
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    color: #92a1a5;
    font-weight: 400;
    font-family: "Montserrat";
}
.buy {
    text-decoration: none;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    padding-right: 25px;
    font-family: "Montserrat";
}
.buy:hover{
    color: #000;
}
.boxx{
    width: 400px;
    max-width: 100%;
    margin-left: 100px;
}
.boxs{
    height: 100vh;
    display: flex;
    align-items: center;
}
.boxx-item h1{
    font-size: 60px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
}
.boxx-item p{
    font-size: 14px;
    color: #92a1a5;
    font-weight: 400;
    padding-top: 10px;
    font-family: "Montserrat";
}
.circle{
    width: 452px;
    height: 452px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-left: 110px;
    position: relative;
}
.dron{
    position: absolute;
    left: 615px;
}
.dron img{
    width: 700px;
}
.scroll-dw{
    position: absolute;
    left: 74px;
    bottom: 95px;
    transform: rotate(270deg);
}
.scroll-dw a{
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
}



.both{
    display: flex;
    flex-wrap: wrap;
}
/* first-section start */
.firta-box1{
    background-image: url(../images/Photo.png);
    width: 100%;
    max-width: 100%;
    height: 615px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.firta-box1 h1{
    font-size: 60px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    padding-top: 260px;
    padding-left: 215px;
}
.firta-box1 p{
    font-size: 14px;
    color: #92a1a5;
    font-weight: 400;
    font-family: "Montserrat";
    padding-left: 215px;
}
.first-box2{
    background-image: url(../images/Photo\ \(1\).png);
    width: 100%;
    max-width: 100%;
    height: 615px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.blur{
    width: 615px;
    max-width: 100%;
    height: 615px;
    background-color: #00000064;
}
.first-btn{
    width: 182px;
    height: 57px;
    border-radius: 29px;
    background-color: #ffffff;
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    border: none;
    transform: rotate(270deg);
    position: absolute;
    top: 40%;
    left: 70%;
}
/* second-section start */
.second-sec-h1{
    font-size: 48px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    padding-top: 120px;
}
.second-box1{
    width: 100%;
    max-width: 100%;
    
}
.second-box1 h3{
    font-size: 30px;
    color: #000000;
    font-weight: 400;
    font-family: "Montserrat";
    padding-top: 70px;
    padding-bottom: 130px;
}
.second-box1 img{
    display: flex;
    margin: auto;
    margin-top: 120px;
}
/* three-section start */
.three-section-card-1{
    width: 100%;
    max-width: 100%;
    height: 710px;
}
.three-section-card-1 img{
    width: 100%;
    max-width: 100%;
    height: 710px;
}
.three-section-card-2{
    width: 100%;
    max-width: 100%;
    height: 710px;
    background-image: url(../images/BOX\ \(2\).png);
}
.three-section-card-2 h1{
    width: 100%;
    max-width: 100%;
    font-size: 92px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    padding-left: 130px;
    padding-right: 120px;
    padding-top: 185px;
}
.three-section-card-2 span{
    color: #ff343d;
}
.three-btn{
    margin-top: 35px;
    margin-left: 130px;
    width: 182px;
    height: 57px;
    border-radius: 29px;
    background-color: rgba(255,255,255,0);
    border: 2px solid #3b3b3b;
    color: #ffffff;
}
/* three-section end */
/* Fourth-section start */
.Fourth-section-card-1{
    width: 100%;
    max-width: 100%;
    height: 870px;
}
.Fourth-section-card-1 h1{
    width: 100%;
    max-width: 100%;
    font-size: 92px;
    color: #232323;
    font-weight: 400;
    font-family: "Montserrat";
    padding-top: 253px;
    padding-left: 70px;
}
.Fourth-section-card-1 span{
    color: #ff343d;
}
.fourth-btn{
    width: 172px;
    height: 57px;
    border-radius: 29px;
    background-color: #ffffff;
    border: 2px solid #eff2f6;
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    margin-left: 70px;
    margin-top: 33px;
}
.Fourth-section-card-2{
    width: 100%;
    max-width: 100%;
    height: 870px;
}
.Fourth-section-card-2 img{
    width: 100%;
    max-width: 100%;
    padding-top: 165px;
}
/* Fourth-section end */
/* last-section */


.last-section{
    background-image: url(../images/Photo\ \(2\).png);
    width: 100%;
    max-width: 100%;
    height: 1185px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.last-about-btn{
    padding-top: 780px;
}
.last-about-btn h1{
    
    font-size: 92px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
}
.last-btn{
    margin-top: 38px;
    width: 182px;
    height: 57px;
    border-radius: 29px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 60px;
    color: #318f76;
    font-weight: 700;
    font-family: "Montserrat";
    border: none;
}

/* last-section end*/
/* footer start*/
.footer-h1{
    width: 100%;
    max-width: 100%;
    position: relative;
}
.footer-h1 h1{
    width: 100%;
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 203px;
    color: #fefefe;
    font-weight: 700;
    font-family: "Montserrat";
    filter: drop-shadow(8px 13.856px 47.5px rgba(0,0,0,0.05));
    overflow: hidden;
}

@media (max-width: 700px) {
    header{
        background-color: #ff343d !important;
    }
   .col-lg-8{
        width: 100%;
        max-width: 100%;
   }
   .col-lg-4{
         width: 100%;
        max-width: 100%;
   }
   .first-btn{
        display: none;
    }
    .col-lg-3{
        width: 100%;
        max-width: 100%;
    }
    .col-lg-6{
        width: 100%;
        max-width: 100%;
    }
    .three-section-card-2 h1{
        width: 100%;
        max-width: 100%;
        padding-left: 70px;
    }
    .three-btn{
        margin-left: 70px;
    }
  }
  @media (max-width: 400px){
    .col-lg-8{
        width: 100%;
        max-width: 100%;
   }
   .col-lg-4{
         width: 100%;
        max-width: 100%;
   }
   .first-btn{
        display: none;
    }
    .col-lg-3{
        width: 100%;
        max-width: 100%;
    }
    .col-lg-6{
        width: 100%;
        max-width: 100%;
    }
    .three-section-card-2 h1{
        width: 100%;
        max-width: 100%;
        font-size: 50px;
        padding-left: 20px;
    }
    .three-btn{
        margin-left: 20px;
    }
    .Fourth-section-card-1 h1{
        width: 100%;
        max-width: 100%;
        font-size: 50px;
        color: #232323;
        font-weight: 400;
        font-family: "Montserrat";
        padding-top: 53px;
        padding-left: 20px;
    }
    .fourth-btn{
        margin-left: 20px ;
    }
    .last-about-btn h1{
        font-size: 50px;
    }
  }
  @media (max-width: 420px){
    .col-lg-8{
        width: 100%;
        max-width: 100%;
   }
   .col-lg-4{
         width: 100%;
        max-width: 100%;
   }
   .first-btn{
        display: none;
    }
    .col-lg-3{
        width: 100%;
        max-width: 100%;
    }
    .col-lg-6{
        width: 100%;
        max-width: 100%;
    }
    .three-section-card-2 h1{
        width: 100%;
        max-width: 100%;
        font-size: 50px;
        padding-left: 20px;
    }
    .three-btn{
        margin-left: 20px;
    }
    .Fourth-section-card-1 h1{
        width: 100%;
        max-width: 100%;
        font-size: 50px;
        color: #232323;
        font-weight: 400;
        font-family: "Montserrat";
        padding-top: 53px;
        padding-left: 20px;
    }
    .fourth-btn{
        margin-left: 20px ;
    }
    .last-about-btn h1{
        font-size: 50px;
    }
    .three-section-card-2{
        margin-top: 0px;
    }
  }
  @media (max-width: 1270px){
    .three-section-card-2 h1{
        width: 100%;
        max-width: 100%;
        font-size: 50px;
        
   }
   
  }

  @media (max-width: 573px){
    .Fourth-section-card-1 h1{
        width: 100%;
        max-width: 100%;
        font-size: 50px;
        color: #232323;
        font-weight: 400;
        font-family: "Montserrat";
        padding-top: 53px;
        padding-left: 20px;
    }
    .fourth-btn{
        margin-left: 20px ;
    }
   
}
@media (max-width: 989px){
    .col-lg-8{
        width: 100%;
        max-width: 100%;
    }
    .first-box2{
        width: 100%;
        max-width: 100%;
    }
    .col-lg-4{
        width: 100%;
        max-width: 100%;
    }
}
@media (max-width: 1524px) {
    .carousel-captiondron h5{
        font-size: 40px;
        color: #000000;
        font-weight: 700;
        font-family: "Montserrat";
    }
    .carousel-captiondron p{
        width: 400px;
        color: #92a1a5;
        font-weight: 400;
        font-family: "Montserrat";
    }
    .carousel-captiondron{
        padding-left: 200px;
    }
  }
  @media (max-width: 1407px) {
    .carousel-captiondron h5{
        font-size: 40px;
        color: #000000;
        font-weight: 700;
        font-family: "Montserrat";
    }
    .carousel-captiondron p{
        width: 300px;
        color: #92a1a5;
        font-weight: 400;
        font-family: "Montserrat";
    }
    .imgcont{
        background-color: #ffffff;
        position: relative;
        z-index: 9999;
        width: 552px;
        height: 552px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 18%;
    }
    .imgcont img{
        width: 852px;
        height: 852px;
    }
  }
  @media (max-width: 1291px) {
    .imgcont{
        background-color: #ffffff;
        position: relative;
        z-index: 9999;
        width: 452px;
        height: 452px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 18%;
    }
    .imgcont img{
        width: 752px;
        height: 752px;
    }
  }
  @media (max-width: 1181px) {
    .imgcont{
        background-color: #ffffff;
        position: relative;
        z-index: 9999;
        width: 352px;
        height: 352px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 18%;
    }
    .imgcont img{
        width: 652px;
        height: 652px;
    }
  }
  @media (max-width: 1181px) {
    .imgcont{
        background-color: #ffffff;
        position: relative;
        z-index: 9999;
        width: 252px;
        height: 252px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 27%;
    }
    .imgcont img{
        width: 452px;
        height: 452px;
    }
    
  }