
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

header{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(
        to right,
        #eff2f6 0%,
        #eff2f6 62%,
        #ff343d 38%,
        #ff343d 100%
    );
    
}

.navbar-toggler {
    line-height: 1;
    background-color: transparent;
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 25px;
    height: 12px;
    vertical-align: middle;
    background-image: url(../images/Menu.svg);
    color: #eff2f6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    outline: none;
}
.navbar {
    padding-top: 45px !important;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
    --bs-navbar-toggler-border-color: none !important;
    --bs-navbar-toggler-border-radius: none !important;
    --bs-navbar-toggler-focus-width: none !important;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
    position: absolute;
}
.logo{
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
}
.logo-cir{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 4px solid #ff343d;
    position: absolute;
    left: 194px;
    top: 46px;
}
.call{
    display: flex;  
}
.call-icon{
    padding-left: 60px;
    padding-top: 5px;
}
.number{
    padding-top: 3px;
}
.number a{
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    color: #92a1a5;
    font-weight: 400;
    font-family: "Montserrat";
}
.buy {
    text-decoration: none;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    padding-right: 25px;
    font-family: "Montserrat";
}
.buy:hover{
    color: #000;
}
.boxx{
    width: 400px;
    max-width: 100%;
    margin-left: 100px;
}
.boxs{
    height: 100vh;
    display: flex;
    align-items: center;
}
.boxx-item h1{
    font-size: 60px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
}
.boxx-item p{
    font-size: 14px;
    color: #92a1a5;
    font-weight: 400;
    padding-top: 10px;
    font-family: "Montserrat";
}
.circle{
    width: 452px;
    height: 452px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-left: 110px;
    position: relative;
}
.dron{
    position: absolute;
    left: 615px;
}
.dron img{
    width: 700px;
}
.scroll-dw{
    position: absolute;
    left: 74px;
    bottom: 95px;
    transform: rotate(270deg);
}
.scroll-dw a{
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
}